/*----------------------------- Colors ----------------------------*/
$rouge : #C24C4C;
$jaune-clair : #FFF1D7;
$jaune-moyen : #FFE0AA;
$jaune-fonce : #F9B000;
$bleu-clair : #B9E4F0;
$bleu-fonce : #395462;
$bleu-tres-fonce : #223844;

/*----------------------------Fonts----------------------------*/

@font-face {
  font-family: "Century Gothic";
  src: local("GOTHIC"),
  local("GOTHIC"),
  url(../fonts/GOTHIC.TTF);
}
$century : 'Century Gothic';

@font-face {
  font-family: "Big Holidays";
  src: local("Big_Holidays"),
  local("Big_Holidays"),
  url(../fonts/Big_Holidays.otf);
}
$holidays : 'Big Holidays';


@font-face {
  font-family: "Josefin Sans";
  src: local("JosefinSans"),
  local("JosefinSans"),
  url(../fonts/JosefinSans-Regular.ttf);
}
$josefin :'Josefin Sans';

/*--------------------- General ---------------*/
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
  margin: 0;
  padding: 0;
}

h2{
  color: $rouge;
  font-family: $josefin;
}
h3{
  font-family: $josefin;
}
p{
  font-family: $century;
}

.justify{
  text-align: justify;
}

.btn-primary{
   background-color: $bleu-fonce;
   font-family: $holidays;
   text-decoration: none;
   padding: 1% 3% 1% 3%;
   border-radius: 25px;
   transition: all 0.3s ease;
   font-size: 1.5em;

   &:hover{
     background-color: $bleu-tres-fonce;
   }
 }
.btn-secondary{
  @extend .btn-primary;
  background-color: $rouge;
  &:hover{
    background-color: darken($rouge,20%);
  }
}

a{
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease;
}
.bold{
  font-weight: bold;
}
.jaune{
  color: $jaune-fonce;
}