#nav_acceuil{
  background-color: #34616F;
  position: relative;
  padding: 1% 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  img{
    position: absolute;
    bottom: -35px;
    left: 46%;
    height: 140%;
  }
  .container_nav{
    width: 40%;
  }
}

.titre_nav{
  color: #fff;
  font-family: $holidays;
  font-size: 1.4em;
  &:hover{
    color: $rouge;
  }
}

.lien_nav{
  @extend .titre_nav;
  font-size: 1.2em;
}

.lien_nav2{
  @extend .lien_nav;
  padding-left: 5%;
}

footer
{
  margin-top: 10%;
  background-color: #34616F;
  color:white;
  font-family: "Century Gothic",sans-serif;
  position: relative;
  a{
    text-decoration: underline;
  }
  #content-footer{
    display: flex;
    flex-direction: row;
    padding: 4%;
    h3{
      font-size: 1.6em;
    }
    a:hover{
      color: #d6d6d6;
    }
    #gauche-footer{
      width: 35%;
      text-align: justify;
      margin-right: 3%;
    }

    #nav-footer{
      h3{
        font-family: "Big Holidays",sans-serif;
      }
      margin-left: 3%;
      margin-right: 3%;
      ul{
        padding-left: 0;
        li{
          padding-bottom: 8px;
        }
      }

      div{
        margin-top: 5%;
        display: flex;
        justify-content: space-around;
        img{
          width: 110px;
        }
      }
    }
    #reseaux{
      width: 110%;
      margin-top: 5%;
      justify-content: space-between!important;
      a{
        text-decoration: none;
        font-size: 2em;
        background: white;
        color: #34616F;
        padding: 5%;
        border-radius: 100px;
        &:hover{
          background-color: darken(white,10%);
        }
      }
    }
  }

}
#fin-footer{
  padding-top: 1%;
  background-color: #5F838D;
  border-top: 1.5px solid white;
  display: flex;
  justify-content: center;
  a:hover{
    color: #e7e7e7;
  }
}
