#nav_acceuil{
  background-color: #34616F;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding : 10px 50px 10px 0px;
}

.titre_nav{
  color: #fff;
  font-family: "Roboto",sans-serif;
  font-size: 15pt;

}

.lien_nav{
  @extend .titre_nav;
}

.lien_nav2{
  @extend .titre_nav;
  padding-left: 10px;
}

footer
{
  background-color: #34616F;
  color:white;
  font-family: "Century Gothic",sans-serif;
  position: relative;
  #content-footer{
    display: flex;
    flex-direction: row;
    padding: 4%;
    h3{
      font-size: 1.6em;
    }
    a:hover{
      color: #d6d6d6;
    }
    #gauche-footer{
      width: 35%;
      text-align: justify;
      margin-right: 3%;
    }




  #nav-footer{
    h3{
      font-family: "Big Holidays",sans-serif;
    }
    margin-left: 3%;
    margin-right: 3%;
    ul{
      padding-left: 0;
      li{
        padding-bottom: 8px;
      }
    }

    div{
      margin-top: 5%;
      display: flex;
      justify-content: space-around;
      img{
        width: 110px;
      }
    }
  }
  }

  }
  #fin-footer{
    padding-top: 2%;
    border-top: 1.5px solid white;
    display: flex;
    justify-content: center;
    a:hover{
      color: #e7e7e7;
    }
  }
