@import "_general.scss";
$gris : #f6f6f6;

body{
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: $century;
}

#content-game{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/fond/hublot1.jpg");
  background-size: cover;
  background-position: center;
  //------------------------------------------------------
  // mise en page des div à gauche
  //------------------------------------------------------
  .left-content{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: rgba(57, 84, 98, 0.77);
    width: 35%;
    height: 100%;
    transition: all 0.5s ease;
    position: absolute;
    left: -50%;
    top: 0;
  }
  //------------------------------------------------------
  // choix de partie
  //------------------------------------------------------
  #div1{
    left: -50%;
    //left: 0;
    top: 0;
    #div1-liens{
      display: flex;
      flex-direction: column;
      margin-top: 10%;
      a{
        background-color: $gris;
        margin: 3% 0;
        padding: 2% 0 2% 6%;
        width: 70%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: all 0.3s ease;
        &:hover{
          cursor: pointer;
          background-color: $bleu-tres-fonce;
          color: $gris;
        }
      }
    }
  }

  //------------------------------------------------------
  // lien de retour et de suite
  //------------------------------------------------------
  .choix_joueur {
    margin-top: 10%;
    .joueurs-scroll {
      height: 50%;
      overflow-y: scroll;

      .choix-joueur{
        color: white;
        display: flex;
        align-items: flex-end;
        margin: 4%;
        label{
          display: flex;
          align-items: flex-end;
          margin-left: 4%;
          width: 100%;
          img{
            width: 60px;
            border-radius: 10px;
            margin-right: 2%;
          }
          p{
            margin: 0;
          }
          .fin, .rang, .resultat{
            font-size: 0.9em;
          }
        }
      }
      .choix-joueur-reprendre{
        display: flex;
        align-items: flex-end;
        color: white;
        width: 100%;
        padding: 3% 4%;
        img{
          height: 50%;
          border-radius: 10px;
        }
        .reprendre-content{
          width: 50%;
          margin-left: 4%;
          p{
            margin: 0;
          }
          a{
            font-size: 1.2em;
            padding: 2% 2.5%;
            margin-top: 2%;
          }
        }
      }
    }
  }
.form_choix_joueur{
  width: 100%;
  button.next_link{
    width: 100%;
    z-index: 1;
    img{
      right: -7.5%;
    }
    p{
      right: -1%;
    }
  }
  @media (min-width: 1456px) {
    button.next_link{
      img{
        right: -6%;
      }
    }
  }
  @media (min-width: 1716px) {
    button.next_link{
      img{
        right: -5%;
      }
    }
  }
}
  #div5{
    left: 0; //à retirer
  }
}
//------------------------------------------------------
      // titre de div
//------------------------------------------------------
.titre-left{
  position: relative;
  height: 100px;
  margin: 5% 0;
  h2{
    position: absolute;
    top: 23px;
    left: 20%;
    z-index: 1;
    color: black;
    font-family: $holidays;
    font-size: 2.9em;
    transform: rotate(-1deg);
  }
  img{
    position: absolute;
    width: 142%;
  }
  .titre-left-9{
    left: 9%;
  }
}

//------------------------------------------------------
// lien de retour et de suite
//------------------------------------------------------
.return_link{
  position: relative;
  p{
    position: absolute;
    top: 46px;
    left: 11px;
    font-size: 1.7em;
    z-index: 1;
    font-family: $holidays;
    transform: rotate(4deg);
    transition: all 0.3s ease;
    &:hover{
      transform: rotate(1deg);
      color: $bleu-tres-fonce;
      cursor: pointer;
    }
  }
  img{
    position: absolute;
    top: 35px;
    left: -159px;
  }
}

.next_link {
  position: relative;
  right:0;
  background: rgba(215, 212, 240, 0);
  border: none;
  p {
    position: absolute;
    top: 22px;
    right: -434px;
    font-size: 1.7em;
    z-index: 1;
    font-family: $holidays;
    transform: rotate(2deg);
    transition: all 0.3s ease;

    &:hover {
      transform: rotate(4deg);
      color: $bleu-tres-fonce;
    }
  }

  img {
    position: absolute;
    right: -471px;
  }
}