/*----------------------------- Colors ----------------------------*/
/*----------------------------Fonts----------------------------*/
@font-face {
  font-family: "Century Gothic";
  src: local("GOTHIC"), local("GOTHIC"), url(../fonts/GOTHIC.TTF);
}
@font-face {
  font-family: "Big Holidays";
  src: local("Big_Holidays"), local("Big_Holidays"), url(../fonts/Big_Holidays.otf);
}
@font-face {
  font-family: "Josefin Sans";
  src: local("JosefinSans"), local("JosefinSans"), url(../fonts/JosefinSans-Regular.ttf);
}
/*--------------------- General ---------------*/
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h2 {
  color: #C24C4C;
  font-family: "Josefin Sans";
}

h3 {
  font-family: "Josefin Sans";
}

p {
  font-family: "Century Gothic";
}

.justify {
  text-align: justify;
}

.btn-primary {
  background-color: #395462;
  font-family: "Big Holidays";
  text-decoration: none;
  padding: 1% 3% 1% 3%;
  border-radius: 25px;
  transition: all 0.3s ease;
  font-size: 1.5em;
}
.btn-primary:hover {
  background-color: #223844;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease;
}

.bold {
  font-weight: bold;
}

.jaune {
  color: #F9B000;
}

/*--------------------- Css Login ---------------*/
#form_connexion {
  margin-top: 40px;
  padding-top: 40px;
  background-color: #34616E;
  width: 1127px;
  height: 749px;
  border-radius: 37px;
  background-image: url("../img/security_icon/ancre - Copie.png");
  background-repeat: no-repeat;
  background-position: left top;
}
#form_connexion .img_ancre {
  position: absolute;
}
#form_connexion .img_logo_connexion {
  margin-left: 440px;
}
#form_connexion #titre_connexion {
  margin-left: 22%;
  color: white;
}
#form_connexion #inputEmail, #form_connexion #inputPassword {
  width: 802px;
  height: 53px;
  margin-left: 15%;
}
#form_connexion #button_connexion {
  background-color: #FCE798;
  width: 347px;
  height: 65px;
  margin: 60px 385px;
  font-family: "Josefin Sans", sans-serif;
  color: black;
}
#form_connexion .lien_inscription {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  margin-left: 525px;
}

/*--------------------- Css Inscription ---------------*/
.form_inscription {
  padding-top: 40px;
  background-color: #34616E;
  width: 1127px;
  height: 749px;
  border-radius: 37px;
}
.form_inscription .img_logo_inscription {
  margin-left: 440px;
}
.form_inscription .inscription_champ {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 50px 50px;
  gap: 2px;
  margin: 5%;
}
.form_inscription .inscription_champ .prenom_inscription, .form_inscription .inscription_champ .pseudo_inscription, .form_inscription .inscription_champ .email_inscription, .form_inscription .inscription_champ .nom_inscription {
  border-radius: 10px;
}
.form_inscription .anniversaire_inscription {
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  font-family: Roboto, sans-serif;
  background-color: white;
  width: auto;
  height: 30px;
}
.form_inscription .checkbox_condition {
  color: white;
}
.form_inscription .checkbox_condition a {
  text-decoration: underline;
}
.form_inscription .checkbox_condition a:hover {
  color: black;
}

#form_connexion {
  background-color: #34616E;
  width: 1127px;
  height: 749px;
  border-radius: 37px;
  background-image: url("../img/security_icon/ancre - Copie.png");
  background-repeat: no-repeat;
  background-position: left top;
}
#form_connexion .img_ancre {
  position: absolute;
}
#form_connexion .img_logo_connexion {
  margin-left: 440px;
}
#form_connexion #titre_connexion {
  margin-left: 22%;
  color: white;
}
#form_connexion #inputEmail, #form_connexion #inputPassword {
  width: 802px;
  height: 53px;
  margin-left: 15%;
}
#form_connexion #button_connexion {
  background-color: #FCE798;
  width: 347px;
  height: 65px;
  margin: 60px 385px;
  border:none;
  font-family: "Big Holidays";
  color: black;
}
#form_connexion .lien_inscription {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  margin-left: 525px;
  text-decoration: underline;
}

/*# sourceMappingURL=login_profil.css.map */
