/*----------------------------- Colors ----------------------------*/
/*----------------------------Fonts----------------------------*/
@font-face {
  font-family: "Century Gothic";
  src: local("GOTHIC"), local("GOTHIC"), url(../fonts/GOTHIC.TTF);
}
@font-face {
  font-family: "Big Holidays";
  src: local("Big_Holidays"), local("Big_Holidays"), url(../fonts/Big_Holidays.otf);
}
@font-face {
  font-family: "Josefin Sans";
  src: local("JosefinSans"), local("JosefinSans"), url(../fonts/JosefinSans-Regular.ttf);
}
/*--------------------- General ---------------*/
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h2 {
  color: #C24C4C;
  font-family: "Josefin Sans";
}

h3 {
  font-family: "Josefin Sans";
}

p {
  font-family: "Century Gothic";
}

.justify {
  text-align: justify;
}

.btn-primary, .btn-tercary, .btn-secondary {
  background-color: #395462;
  font-family: "Big Holidays";
  text-decoration: none;
  padding: 1% 3%;
  border-radius: 25px;
  border: none;
  transition: all 0.3s ease;
  font-size: 1.5em;
}
.btn-primary:hover, .btn-tercary:hover, .btn-secondary:hover {
  background-color: #223844;
}

.btn-secondary {
  background-color: #C24C4C;
}
.btn-secondary:hover {
  background-color: #7d2b2b;
}

.btn-tercary {
  background-color: #B9E4F0;
  color: #395462;
}
.btn-tercary:hover {
  background-color: #65c4de;
  color: #223844;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease;
}

.bold {
  font-weight: bold;
}

.jaune {
  color: #F9B000;
}

.container {
  display: flex;
  justify-content: center;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#profil_content, #friends_content, #modify_content {
  margin: 5% 0;
  padding: 5% 4%;
  width: 100%;
  background-color: #395462;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
#profil_content #longue_vue, #friends_content #longue_vue, #modify_content #longue_vue {
  position: absolute;
  right: 184px;
  top: 94px;
  height: 85%;
  transform: rotate(-28deg);
}
#profil_content .titre, #friends_content .titre, #modify_content .titre {
  position: relative;
  height: 120px;
  margin-bottom: 4%;
  z-index: 1;
}
#profil_content .titre h1, #friends_content .titre h1, #modify_content .titre h1 {
  position: absolute;
  top: 11px;
  left: 33%;
  font-size: 2.7em;
  z-index: 1;
  color: black;
  font-family: "Big Holidays";
  transform: rotate(-1deg);
}
#profil_content .titre img, #friends_content .titre img, #modify_content .titre img {
  height: 120px;
}
#profil_content #info_profil, #friends_content #info_profil, #modify_content #info_profil {
  width: 93%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 1;
}
#profil_content #info_profil #info_txt, #friends_content #info_profil #info_txt, #modify_content #info_profil #info_txt {
  width: 80%;
}
#profil_content #info_profil #info_txt .ligne, #friends_content #info_profil #info_txt .ligne, #modify_content #info_profil #info_txt .ligne {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
  width: 100%;
}
#profil_content #info_profil #info_txt .ligne p, #friends_content #info_profil #info_txt .ligne p, #modify_content #info_profil #info_txt .ligne p {
  background-color: #fafafa;
  border-radius: 8px;
  padding: 1.5% 4%;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#profil_content #info_profil #info_txt .ligne #info_capitaine, #friends_content #info_profil #info_txt .ligne #info_capitaine, #modify_content #info_profil #info_txt .ligne #info_capitaine {
  width: 60%;
  margin-right: 2%;
}
#profil_content #info_profil #info_txt .ligne #info_alias, #friends_content #info_profil #info_txt .ligne #info_alias, #modify_content #info_profil #info_txt .ligne #info_alias {
  width: 40%;
}
#profil_content #info_profil #info_txt .ligne #info_anniv, #friends_content #info_profil #info_txt .ligne #info_anniv, #modify_content #info_profil #info_txt .ligne #info_anniv {
  width: 40%;
  margin-right: 2%;
}
#profil_content #info_profil #info_txt .ligne #info_email, #friends_content #info_profil #info_txt .ligne #info_email, #modify_content #info_profil #info_txt .ligne #info_email {
  width: 60%;
}
#profil_content #info_profil #info_txt #info_grade, #friends_content #info_profil #info_txt #info_grade, #modify_content #info_profil #info_txt #info_grade {
  background-color: #fafafa;
  border-radius: 8px;
  padding: 1.5% 4%;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#profil_content #stats, #friends_content #stats, #modify_content #stats {
  z-index: 1;
  display: flex;
  width: 100%;
  margin-top: 4%;
}
#profil_content #stats div, #friends_content #stats div, #modify_content #stats div {
  width: 40%;
  background-color: #5f8ba2;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 2%;
  padding: 2%;
}
#profil_content #stats div p, #friends_content #stats div p, #modify_content #stats div p {
  color: white;
  margin-bottom: 0;
  margin-top: 3%;
}
#profil_content #liens, #friends_content #liens, #modify_content #liens {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-top: 4%;
}
#profil_content #liens a:last-child, #friends_content #liens a:last-child, #modify_content #liens a:last-child {
  width: 40%;
  display: flex;
  justify-content: center;
}
#profil_content .ban-droite, #friends_content .ban-droite, #modify_content .ban-droite, #profil_content .ban-gauche, #friends_content .ban-gauche, #modify_content .ban-gauche {
  position: absolute;
  right: 24.2%;
  bottom: 12%;
  z-index: 1;
}
#profil_content .ban-droite .ban, #friends_content .ban-droite .ban, #modify_content .ban-droite .ban, #profil_content .ban-gauche .ban, #friends_content .ban-gauche .ban, #modify_content .ban-gauche .ban {
  position: relative;
}
#profil_content .ban-droite .ban a, #friends_content .ban-droite .ban a, #modify_content .ban-droite .ban a, #profil_content .ban-gauche .ban a, #friends_content .ban-gauche .ban a, #modify_content .ban-gauche .ban a {
  z-index: 1;
  font-family: "Big Holidays";
  font-size: 2em;
  position: absolute;
  left: 73px;
  top: 19px;
}
#profil_content .ban-droite .ban a:hover, #friends_content .ban-droite .ban a:hover, #modify_content .ban-droite .ban a:hover, #profil_content .ban-gauche .ban a:hover, #friends_content .ban-gauche .ban a:hover, #modify_content .ban-gauche .ban a:hover {
  color: #C24C4C;
  transform: rotate(4deg);
}
#profil_content .ban-droite .ban img, #friends_content .ban-droite .ban img, #modify_content .ban-droite .ban img, #profil_content .ban-gauche .ban img, #friends_content .ban-gauche .ban img, #modify_content .ban-gauche .ban img {
  position: absolute;
}
#profil_content .ban-gauche, #friends_content .ban-gauche, #modify_content .ban-gauche {
  left: -2.6%;
}
#profil_content .ban-gauche .ban a, #friends_content .ban-gauche .ban a, #modify_content .ban-gauche .ban a {
  top: 5px;
}
#profil_content .ban-gauche .ban a:hover, #friends_content .ban-gauche .ban a:hover, #modify_content .ban-gauche .ban a:hover {
  transform: rotate(-4deg);
}

@media screen and (min-width: 1399px) {
  .ban-droite, #profil_content .ban-gauche, #friends_content .ban-gauche, #modify_content .ban-gauche {
    right: 20.9% !important;
  }

  .ban-gauche {
    left: -2.3% !important;
  }
}
.info_img {
  overflow: hidden;
  width: 157px;
  height: 157px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3%;
}

#modify_content {
  position: absolute !important;
  width: 88% !important;
}
#modify_content #modif_img {
  display: flex;
  flex-direction: column;
}
#modify_content #modif_img button {
  font-size: 1em;
  margin-top: 10%;
}
#modify_content section {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  width: 100%;
}
#modify_content #modif_right {
  width: 80%;
  z-index: 1;
}
#modify_content #modif_right .champ-form {
  background-color: #fafafa;
  border-radius: 8px;
  padding: 1.5% 4%;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#modify_content #modif_right .champ-form label {
  margin-right: 6%;
}
#modify_content #modif_right .champ-form input {
  width: 80%;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom-color: #4c7082;
}
#modify_content #modif_right .champ-form select {
  margin-right: 2%;
  border-radius: 10px;
}
#modify_content #modif_right .ligne {
  display: flex;
  justify-content: space-between;
}
#modify_content #modif_right .ligne #nom {
  width: 50%;
  margin-right: 2%;
}
#modify_content #modif_right .ligne #prenom {
  width: 50%;
}
#modify_content #modif_right .ligne #pseudo {
  width: 50%;
  margin-right: 2%;
}
#modify_content #modif_right .ligne #anniv {
  width: 50%;
}

#popup, #popup_mdp {
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: rgba(255, 255, 255, 0.5);
}

#pwd_modify_form {
  height: auto;
  width: 500px;
  background-color: white;
  margin: 0 auto;
  border: 1px solid black;
}

#avatar_form, #popup_mdp form {
  height: auto;
  width: 800px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 20px;
}

#avatar_form ul, #popup_mdp form ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#avatar_form li, #popup_mdp form li {
  display: inline-block;
}

#avatar_form input[type=radio][id^=cb], #popup_mdp form input[type=radio][id^=cb] {
  display: none;
}

#avatar_form label, #popup_mdp form label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.close {
  width: 95%;
  margin: 10px;
  margin-right: 20px;
}

.close img {
  float: right;
  width: 18px;
  text-align: left;
}
.close img:hover {
  cursor: pointer;
}

#avatar_form label::before, #popup_mdp form label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

#avatar_form label img, #popup_mdp form label img {
  height: 200px;
  width: 150px;
  border-radius: 20px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + label {
  border-color: #ddd;
}

:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}

form button {
  margin-bottom: 40px;
  transition-duration: 0.5s;
  font-size: 15pt;
}

#popup_mdp form {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 9%;
}
#popup_mdp form .ligne-popup {
  display: flex;
  align-items: flex-end;
}
#popup_mdp form .ligne-popup label {
  margin-bottom: 0;
  padding-bottom: 0;
}
#popup_mdp form .ligne-popup input {
  border-top: none;
  border-right: none;
  border-left: none;
}

@media screen and (min-width: 1491px) {
  .ban-modify {
    right: 20.5% !important;
  }
}
@media screen and (min-width: 1700px) {
  #modify_content {
    width: 76% !important;
  }
}
@media screen and (min-width: 1790px) {
  .ban-modify {
    right: 19.5% !important;
  }
}
body {
  height: 100%;
}

.navbar {
  z-index: 2;
}

#friends_content {
  height: 100%;
  width: 88%;
  position: absolute !important;
}
#friends_content #titre {
  position: absolute;
  top: -80%;
  left: 8%;
}
#friends_content #choix {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 4%;
}
#friends_content #choix a {
  font-family: "Century Gothic";
  background-color: #fafafa;
  width: 100%;
  height: 50px;
  margin: 2% 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#friends_content #choix a:hover {
  background-color: #B9E4F0;
  cursor: pointer;
}
#friends_content #choix a span {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C24C4C;
  color: #fafafa;
  border-radius: 100px;
  padding: 1%;
  margin-left: 1%;
}

#friends, #Invitations, #inviter {
  z-index: 1;
  background-color: #223844;
  width: 100%;
  height: 100%;
  padding: 5% 4%;
  border-radius: 20px;
  position: absolute;
  left: -150%;
  top: 0;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
}
#friends .titre-section, #Invitations .titre-section, #inviter .titre-section {
  position: absolute;
  top: 2%;
  left: 25%;
}
#friends .scroll, #Invitations .scroll, #inviter .scroll {
  margin-top: 10%;
  margin-right: 35%;
  width: 50%;
  height: 60%;
  overflow-y: scroll;
  background-color: #395462;
  padding: 2% 4%;
  border-radius: 15px;
  z-index: 1;
}
#friends .scroll .user_info, #Invitations .scroll .user_info, #inviter .scroll .user_info {
  display: flex;
  align-items: flex-end;
  margin-bottom: 4%;
}
#friends .scroll .user_info img, #Invitations .scroll .user_info img, #inviter .scroll .user_info img {
  border-radius: 10px;
}
#friends .scroll .user_info div, #Invitations .scroll .user_info div, #inviter .scroll .user_info div {
  width: 100%;
  margin-left: 2%;
}
#friends .scroll .user_info div p, #Invitations .scroll .user_info div p, #inviter .scroll .user_info div p {
  margin-bottom: 0;
  color: whitesmoke;
}
#friends .ancre, #Invitations .ancre, #inviter .ancre {
  z-index: -1;
  position: absolute;
  right: -6%;
  top: -22%;
  height: 126%;
}

.pseudo {
  color: #F9B000 !important;
}

#inviter .titre-section .titre h1 {
  font-size: 2.5em;
  top: 20px;
  left: 21%;
}
#inviter #inviter-content {
  width: 100%;
  margin-top: 10%;
}
#inviter #inviter-content #search_section {
  margin-bottom: 2%;
  display: flex;
  align-items: flex-end;
}
#inviter #inviter-content #search_section input {
  background-color: #fafafa;
  margin-right: 2%;
  padding: 1% 2%;
  border-radius: 15px;
  border-left: none;
  border-top: none;
  border-right: none;
}
#inviter #inviter-content .scroll {
  margin-top: 0;
  width: 65%;
}
#inviter #inviter-content .scroll p {
  color: white;
}

.ban-amis {
  bottom: 20% !important;
}
.ban-amis a:hover {
  cursor: pointer;
}

#accueil-header {
  background-image: url("../img/accueil/ile.png");
  background-size: cover;
  background-position: bottom;
  position: relative;
  height: 700px;
  width: 100%;
}
#accueil-header #titre-jeu {
  position: relative;
  width: 70%;
}
#accueil-header #titre-jeu h1 {
  z-index: 1;
  position: absolute;
  font-family: "Big Holidays";
  left: 48%;
  top: 146px;
  font-size: 3em;
}
#accueil-header #titre-jeu img {
  position: absolute;
  left: 20%;
  top: 114px;
  height: 180px;
}
#accueil-header a {
  position: absolute;
  bottom: 40%;
  left: 41%;
  width: 19%;
  display: flex;
  justify-content: center;
}

#content-accueil {
  margin: 0 20% 0 10%;
  position: relative;
  background-image: url("../img/accueil/piste.png");
  background-size: cover;
}
#content-accueil h2 {
  font-family: "Big Holidays";
}
#content-accueil #corde {
  position: absolute;
  right: -15%;
  top: -5%;
  z-index: -1;
}
#content-accueil #pirate {
  height: 200px;
  position: fixed;
  right: 2%;
  top: 50%;
  z-index: -1;
  transform: rotate(13deg);
}

#golden, #mutinerie, #tresor, #ile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6%;
}
#golden img, #mutinerie img, #tresor img, #ile img {
  width: 40%;
  padding: 4%;
  background-color: #f2f2f2;
  border-radius: 50px;
}
#golden .txt-accueil, #mutinerie .txt-accueil, #tresor .txt-accueil, #ile .txt-accueil {
  text-align: center;
  width: 60%;
}
#golden .txt-accueil p, #mutinerie .txt-accueil p, #tresor .txt-accueil p, #ile .txt-accueil p {
  margin-top: 3%;
  line-height: 2;
  font-weight: bold;
}

#ile {
  flex-direction: column;
}
#ile .ile-txt {
  margin-top: 4%;
  width: 100%;
  margin-left: 0;
}
#ile img {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
}

#tresor .tresor-txt {
  margin-left: 0;
  margin-right: 4%;
}

#mutinerie {
  flex-direction: column;
}
#mutinerie .mutinerie-txt {
  width: 100%;
  margin-top: 4%;
}
#mutinerie .mutinerie-persos {
  display: flex;
  justify-content: center;
}
#mutinerie .mutinerie-persos img {
  background-color: rgba(255, 255, 255, 0);
}

#comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6% 0;
}
#comment video {
  margin: 3% 0;
}

#fleche {
  position: fixed;
  left: 5%;
  bottom: 5%;
  z-index: 1;
  color: #C24C4C;
}
#fleche span {
  font-size: 3em !important;
}
#fleche:hover {
  color: #a33838;
}

#nav_acceuil {
  background-color: #34616F;
  position: relative;
  padding: 1% 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
#nav_acceuil img {
  position: absolute;
  bottom: -35px;
  left: 46%;
  height: 140%;
}
#nav_acceuil .container_nav {
  width: 40%;
}

.titre_nav, .lien_nav, .lien_nav2 {
  color: #fff;
  font-family: "Big Holidays";
  font-size: 1.4em;
}
.titre_nav:hover, .lien_nav:hover, .lien_nav2:hover {
  color: #C24C4C;
}

.lien_nav, .lien_nav2 {
  font-size: 1.2em;
}

.lien_nav2 {
  padding-left: 5%;
}

footer {
  margin-top: 10%;
  background-color: #34616F;
  color: white;
  font-family: "Century Gothic", sans-serif;
  position: relative;
}
footer a {
  text-decoration: underline;
}
footer #content-footer {
  display: flex;
  flex-direction: row;
  padding: 4%;
}
footer #content-footer h3 {
  font-size: 1.6em;
}
footer #content-footer a:hover {
  color: #d6d6d6;
}
footer #content-footer #gauche-footer {
  width: 35%;
  text-align: justify;
  margin-right: 3%;
}
footer #content-footer #nav-footer {
  margin-left: 3%;
  margin-right: 3%;
}
footer #content-footer #nav-footer h3 {
  font-family: "Big Holidays", sans-serif;
}
footer #content-footer #nav-footer ul {
  padding-left: 0;
}
footer #content-footer #nav-footer ul li {
  padding-bottom: 8px;
}
footer #content-footer #nav-footer div {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}
footer #content-footer #nav-footer div img {
  width: 110px;
}
footer #content-footer #reseaux {
  width: 110%;
  margin-top: 5%;
  justify-content: space-between !important;
}
footer #content-footer #reseaux a {
  text-decoration: none;
  font-size: 2em;
  background: white;
  color: #34616F;
  padding: 5%;
  border-radius: 100px;
}
footer #content-footer #reseaux a:hover {
  background-color: #e6e6e6;
}

#fin-footer {
  padding-top: 1%;
  background-color: #5F838D;
  border-top: 1.5px solid white;
  display: flex;
  justify-content: center;
}
#fin-footer a:hover {
  color: #e7e7e7;
}

/*# sourceMappingURL=modify_profil.css.map */
