{% extends 'base.html.twig' %}

{% block body %}

    <div id="plateau">
        {{ include('game/plateau_game.html.twig') }}
    </div>

{% endblock %}

{% block title %}

{% endblock %}
{% block javascripts %}
    <script>
        let action
        $(document).on('click', '#secret', function(){
            console.log('secret')
            action = 'secret' //mémorise l'action en cours
            $('.choixSecret').show()
            $('#valider').show()
        })

        $(document).on('click', '#valider', function(){
            switch (action) {
                case 'secret':
                    donneesAction = {
                        action: 'secret',
                        carte: $('input[name="carte_secret"]:checked').val()
                    }
                    break;
                case 'depot':

                    break;
                case 'offre':

                    break;
                case 'echange':

                    break;
            }

            $.ajax({
                url: "{{ path('action_game', {game: game.id}) }}",
                data: donneesAction,
                method: 'POST',
                success: function(data) {
                    if (data == true) {
                        $('#plateau').load("{{ path('refresh_plateau_game', {game:game.id}) }}")
                    }
                },
                error: function(){

                }
            })
        })
    </script>
{% endblock %}


