{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div id="profil_content">
        <h1>Bonjour {{ user.firstName }}</h1>
        <img id="avatar" src="{{ asset('img/avatar/'~user.avatar) }}">
        <a href="{{ path('app_modify') }}"/>Modifier le profil</div>
    </div>

{% endblock %}



